.bg-theme{
    /* background-image: linear-gradient(135deg,#fff,#fff,#fff,#481F7F,#481F7F,#2e0f55,#481F7F,#481F7F,#461f79,#43046d,#351361,rgb(52, 20, 94),#17082b, #120325, #1b0735, #1b0735, #1b0735, #1b0735); */
    /* background-color: #19082c; */
    background-image: linear-gradient(135deg,#481F7F,#5a07b9); 
}
.nav-item{padding:0 10px!important;}
.nav-link{color: #fff!important;}

.bg-gold{ 
    background-color: #FFBF22;
    background-image: linear-gradient(135deg,#FFBF22, #FFB000);
    border:1px solid #FFB000; color:#fff;
}
.bg-gold:hover{ 
    background-color: #FFB000;
    background-image: linear-gradient(135deg,#FFB000,#ffd900, #FFB000);
    border:2px solid #fff; color:#fff;
}

.img-fluidi {
    max-width: 120%;
    height: auto;
}
@media (max-width: 720px) {
    .img-fluidi {
        max-width: 80%!important;
        height: auto;
        margin-top:80px
    }
}
 